{
  "env": {
    "es6": true,
    "node": true,
    "commonjs": true,
    "browser": true,
    "mocha": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "rules": {
    "no-console": "off",
    "indent": [ "error", 2 ],
    "linebreak-style": ["error", "windows"]
  }
}
